.final_result {
    width: 450px;
}

.final_result_photo {
    max-height: 300px;
    min-height: 300px;
    width: 300px;
}

.final_result_text {
    height: 100px;
}

.final_result_address{
    height: 150px;
}