.cardAdjust {
    width: 18rem;
<<<<<<< HEAD
    height: 450px;
=======
    height: 420px;
>>>>>>> origin/main
}

.fixHeight{
    min-height: 200px;
    max-height: 200px;
}

.titleHeight{
<<<<<<< HEAD
    height:70px;
=======
    height:58px;
>>>>>>> origin/main
}
