.full_page{
    height: 100vh;
    overflow: hidden;
}

.border_design{
    border-bottom-width: 5px;
    border-bottom-color: white;
}

.circles {
    height: 50px;
}

.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.service_info{
    height: 500px;
}

.service_images {
    max-height: 400px;
}

