.sign_form_content{
    height: 500px;
}

.fullPage{
    height:100vh;   
}

/* body {
    height: 100%;
} */

.title_heading {
    transform: translate(0%, 50%);
}

.title {
    height: 150px;
}

.title_text {
    font-size: 60px;
}