.sign_form_content{
    height: 500px;
}

.fullPage{
    height:100vh;   
}

body {
    height: 100%;
}

 


/* <img className = "card-img-top img-fluid imageAdjust" src= {service.photos[0].name}/> */


/* <img className = "card-img-top img-fluid imageAdjust" src= {service.photo_image}/> */
