/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: oklch(0.446 0.043 257.281); */
    --background: oklch(0.372 0.044 257.287);
    /* --background: oklch(0.208 0.042 265.755); */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #000000; */
}


